*{
    margin: 0;
    padding: 0;
}
.heading{
	text-align: center;
	font-size: 4rem;
	color: #fff;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(255, 51, 153, .05);
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	font-family: 'Secular One', sans-serif;
}
.heading span{
	color: green;
}

.about .row{
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
}
.about .row .video-container{
	flex: 1 1 40rem;
	position: relative;
}

.about .row .video-container video{
	width: 100%;
	border: .5rem solid #fff;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
	height: 100%;
	object-fit: cover;
}
.about .row .content{
	flex: 1 1 40rem;
}

.about .row .content p{
	font-size: 1.5rem;
	color: #ffffff;
	padding: .5rem 0;
	padding-top: 1rem;
	line-height: 1.5;
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
} 
 body {
	margin: 0;
	padding: 0;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./image/bg2.jpg);    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
	background-color: transparent;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.col {
	flex-basis: 100%;
	margin-bottom: 5px;
	text-align: center;
	height: 900px;
}

@media screen and (min-width: 600px) {
	.col {
		flex-basis: calc(50% - 20px);
		margin-right: 20px;
		margin-bottom: 0;
		text-align: left;
	}
	.col:last-child {
		margin-right: 0;
	}
}

@media screen and (min-width: 960px) {
	.col {
		flex-basis: calc(33.333% - 20px);
		margin-right: 20px;
		margin-bottom: 0;
		text-align: left;
	}
	.col:last-child {
		margin-right: 0;
	}
}
.col img {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

h1{
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Secular One', sans-serif;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
} 
.heading1{
	text-align: center;
	font-size: 4rem;
	color: #fff;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(255, 51, 153, .05);
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	font-family: 'Secular One', sans-serif;
}
.heading1 span{
	color: gold;
}
.founder{
	background-image: radial-gradient( circle farthest-corner at -1% 57.5%,  rgba(19,170,82,1) 0%, rgba(0,102,43,1) 90% );
}
.founder .card-container{
	display: flex;
	text-align: center;	
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 2rem 0;
}

.founder .card-container .card{
	padding: 3rem;
	margin: 2rem;
	background: #fff;
	text-align: center;
	width: 28rem;
	box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
.founder .card-container .card img{
	height: 30rem;
	width: 100%;
	object-fit: cover;
}

.founder .card-container p{
	font-size: 1.7rem;
	color: #666;
}
.founder .card-container h3{
	font-size: 1.7rem;
	font-family: 'Inconsolata', monospace;
	margin: 5px;
	justify-content: center;
}
p.text{
	color: #fff;
	font-size: 1.7rem;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-weight: bolder;
	margin-bottom: 50px;
}
footer {
	bottom: 0;
	width: 100%;
	background-color: #015e20;
	color: white;
	padding: 20px;
	text-align: center;
	font-family: 'Inconsolata', monospace;
	justify-content: center;
	position: fixed;
}
@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }